*{
    
    padding: 0px;
    
    margin: 0px;
    
}
@font-face {
    font-family: fontetitulo;
    src: url(../fontes/pricedown\ bl.otf)
}
@font-face {
    font-family: fontetexto;
    src: url(../fontes/LTSuperior-Bold.otf)
}
@font-face {
    font-family: fontepixel;
    src: url(../fontes/Minecrafter.Reg.ttf)
}
body{
    letter-spacing: 2px;
    color: white;
    font-family:"fontetexto";
    background-color: rgb(30, 30, 37); 
    background-repeat: no-repeat;
    background-size: 100vw;
}
::-webkit-scrollbar{
    
    width: 20px;
}
::-webkit-scrollbar-track{
    

    background: rgb(58, 57, 65);
}
::-webkit-scrollbar-thumb{
    border: 5px solid;

    border-color: rgb(58, 57, 65);
    background: rgb(197, 197, 197);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(160, 160, 160);
}
.menu_vertical::-webkit-scrollbar-track{
    margin-top: 70px;
}
.text_box{
    padding: 15px;
    width: 80vw;
    margin: 0 auto;
    overflow-wrap: break-word;
}
h1{
    font-family: 'fontetitulo';
    text-align: center;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black; 
    letter-spacing: 0px;
    font-size: 8rem;
    padding-top: 100px;
    
}
h2{
    font-family: 'fontetitulo';
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    font-weight: 900;
    
    
}
svg{
    position: fixed;
    
    top: 0px;

    background-color: none;
    width: 40px; 
    height: 40px; 
    padding: 15px;
    z-index: 3;
    transition: 500ms;
}
svg:hover{
    background-color: rgba(0, 0, 0, 0.5); 
    
}
path{
    stroke: rgb(255, 255, 255); 
    stroke-width: 5px; 
    stroke-linecap: round;
}
#chec{
    display: none;
}
#chec:checked~.menu_vertical{
    transform: translate(350px);
}

.naoselecionavel{
    -webkit-touch-callout: none;  
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none;  
}
.menu_vertical{
    z-index: 1;
    overflow-y: auto;
    
    position: fixed;
    top: 0px;
    
    background-color: rgba(10, 10, 10, 0.95);

    left: -350px;
    width: 350px;
    height: 100vh;
    transition: all 500ms;
}
.menu_vertical ul{
    margin-top: 70px;
    list-style: none;
}
.menu_vertical ul li{
    padding: 0px;
}
.menu_vertical ul li a{
    padding: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    color: white;
    transition: all 500ms;
}
.menu_vertical ul li a:hover{
    background-color: rgba(10, 10, 10, 0.95);
    font-size: 2rem;
}
.menu_horizontal{
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 2;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
    background-color: rgb(58, 57, 65);
}
.menu_horizontal ul{
    
    margin-left: 70px;
    text-wrap: nowrap;
}
.menu_horizontal ul li{
    display: inline-block;
    transition: all 500ms;
}
.menu_horizontal ul li:hover{
    background-color: rgba(10, 10, 10, 0.5);
    display: inline-block;
}
.menu_horizontal ul li a{
    transition: all 500ms;
    line-height: 70px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.menu_horizontal ul li a:hover{
    font-size: 2rem;
}
#titulo_principal{
    padding-bottom: 100px;
}
p{
    text-align: justify;
    padding: 15px;
    font-size: 1.3rem;

}
span{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    animation: cores 1s infinite linear;
}
@keyframes cores {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}