:root{
    --menu-horizontal-color: rgb(21, 31, 51);
    --menu-vertical-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(0, 0, 0) 10%);
    --menu-horizontal-height: 70px;
    --menu-vertical-width: 200px;
    --scrollbar-width:5px;
    --colunas: 6;
}
*{
    font-size: 24px;
    padding: 0px;
    
    margin: 0px;
    
}
li{
    list-style: none;
}
body{
    overflow: auto;
    background-color: rgb(21, 40, 56);
    color: white;
    display: flex;
}
.menu_horizontal::-webkit-scrollbar{
    height: 0px;
}


.naoselecionavel{
    -webkit-touch-callout: none;  
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none;  
}

.menu_horizontal{
    overflow-y: visible;
    overflow-x: scroll;
    z-index: 2;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: var(--menu-horizontal-height);
    background-color: var(--menu-horizontal-color);
}
.menu_horizontal ul{
    
    
    text-wrap: nowrap;
}
.menu_horizontal li{
    display: inline-block;
    transition: all 500ms;
    margin: 0 -2px;
}
.menu_horizontal .active{
    border-bottom: 4px solid white;
    border-radius: 0 2px 2px;
}
.menu_horizontal li:hover{
    background-color: rgba(0, 0, 0, 0.295);
}

.menu_horizontal li a{
    transition: all 500ms;
    line-height: var(--menu-horizontal-height);
    padding: 5px 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.menu_horizontal p{
    transition: all 500ms;
    line-height: var(--menu-horizontal-height);
    padding: 0px 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.menu_horizontal a:hover{
    font-size: 2rem;
}
.menu_horizontal img{
    --img-height: calc(var(--menu-horizontal-height)/5*3);
    --img-padding: calc(var(--menu-horizontal-height)/5);
    height: var(--img-height);
    border-radius: 50%;
    padding: var(--img-padding);
    transition: all 500ms;
}
.menu_horizontal img:hover{
    --img-height: calc(var(--menu-horizontal-height)/5*4);
    --img-padding: calc(var(--menu-horizontal-height)/5/2);
}
.menu_horizontal div{
    --seta-size:1.5rem;
    overflow: hidden;
    position: fixed;
    width: var(--menu-horizontal-height);
    height: var(--menu-horizontal-height);
    top: 0px;
    background-color: var(--menu-horizontal-color);
    transition: all 500ms;
    cursor: pointer;
}
.menu_horizontal div:hover{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.menu_horizontal span{
    font-size: var(--seta-size);
    line-height: var(--menu-horizontal-height);
    transition: all 500ms;
}
.menu_horizontal span:hover{
    --seta-size: 2rem;
}
.invisivel{
    display: none;
}
#painel{
    display: grid;
    grid-template-columns: repeat(var(--colunas), 1fr);
    margin-top: var(--menu-horizontal-height);
    padding: 25px 0px 25px 0px;
    width: calc(100vw - var(--menu-vertical-width) - 25px);
    margin-left: calc(var(--menu-vertical-width) + 25px);
    animation: loading 1s infinite linear;
}
.menu_vertical{
    position: fixed;
    background-color: var(--menu-vertical-color);
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: var(--menu-horizontal-height);
    width: var(--menu-vertical-width);
    height: calc(100vh - 10px - var(--menu-horizontal-height));
    padding: 10px 10px 0px 15px;
}
.menu_vertical::-webkit-scrollbar{
    background: none;
    width: var(--scrollbar-width);
}
.menu_vertical::-webkit-scrollbar-thumb{
    background: rgb(51, 77, 92);
    border-radius: 5px;
    border: 2px solid;
    border-color: var(--menu-vertical-color);
}
.menu_vertical input[type='text']{
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(58, 133, 146) 20%);
    width: calc(var(--menu-vertical-width) - 15px);
    border-radius: 5px;
    padding: 3px 5px;
    border: none;
    color: white;
}
.menu_vertical input[type='text']::placeholder{
    color: white;
}
.menu_vertical input[type='text']:focus{
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(58, 133, 146) 10%);
    outline: none;
}
.menu_vertical input[type='text']:local-link{
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(58, 133, 146) 10%);
}
#painel label{
    
    transition: all 500ms;
    
    opacity: 0%;
}
#loggin:checked~label{
    
    opacity: 100%;
}
.separator{
    
    overflow: hidden;
}
.separator svg{
    height: 10px;
    
}
.menu_vertical header{
    background-color: rgb(32, 43, 61);
    padding: 3px 6px;
    cursor: pointer;
}
.caixa_filtros{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    border: 1px solid;
    border-top: 0px;
    border-color: rgb(32, 43, 61);
    transition: all 500ms;
}
.checkbox{
    padding: 5px;
}
input[type="range"]{
    appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    
}

.range_preco{
    text-align: center;
    padding: 10px 10px 10px 10px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background-color: rgb(25, 124, 190);
    height: 5px;
    border-radius: 3px;
    
}
input[type="range"]::-webkit-slider-thumb{
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background: rgb(255, 255, 255);
    margin: -5px 0 0 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
input[type="range"]::-webkit-slider-thumb:hover{
    background: rgb(98, 121, 148);
}

.caixa_filtros_container{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 500ms;
  }
.range_preco{
    font-size: 0.75rem;
}
.range_preco input{
    margin-bottom: 9px;
}
.caixa_filtros li.active{
    background-image: linear-gradient(135deg,#63B9EA,#4887AB);
    color: rgb(255, 255, 255);
}
.caixa_filtros li{
    
    transition: all 500ms;
    line-height: 20px;
    color: rgb(189, 206, 221);
}
.caixa_filtros li:not(.preco){
    cursor: pointer;
}
.caixa_filtros li:hover:not(.preco){
    background-color: color-mix(in srgb, var(--menu-vertical-color) 100%, rgb(191, 203, 255) 5%);
}
.jogo{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.jogo > div:hover{
    filter: brightness(75%);
    transform: translateY(-10px);
}
.jogo > div{
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    transition: all 300ms;
}
.jogo img{
    width: 100%;
    
}
.jogo h1{
    text-indent: 0;
    margin-left: 10px;
    font-size: 1.25em;
    
}
.jogo div div{
    transform: translateY(-4px);
    background-color: #263d4b;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    height: 7.5em;
    padding: 5px 0 5px 0;
}
.preco_antigo{
    text-decoration: line-through;
    color: rgb(129, 150, 167);
    font-size: 0.75em;
    position: absolute;
    bottom: 3.5em;
}
.preco_antigo+.preco_atual{
    color: rgb(255, 255, 255);
    
}
.preco_atual{
    position: absolute;
    bottom: 1.5em;
}
.preco_atual span{
    background-color: rgb(81, 206, 31);
    color: white;
    padding: 0 2px 0 2px;
    text-align: right;
}
.avaliacao{
    position: absolute;
    bottom: 5px;
    color: rgb(255, 255, 0);
}
::-webkit-scrollbar{
    background: none;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(51, 77, 92);
    border: 4px solid var(--menu-horizontal-color);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--menu-horizontal-color);
}
@media (max-width:1500px) {
    :root{
        --colunas: 5;
    }
}
@media (max-width:1250px) {
    :root{
        --colunas: 4;
    }
}
@media (max-width:1000px) {
    :root{
        --colunas: 3;
    }
}
@media (max-width:750px) {
    :root{
        --colunas: 2;
    }
}
@media (max-width:500px) {
    :root{
        --colunas: 1;
    }
}
