:root{
    --menu-horizontal-color: rgb(21, 31, 51);
    --menu-horizontal-height: 50px;
    --menu-vertical-width: 150px;
}
*{
    
    padding: 0px;
    
    margin: 0px;
    
}
li{
    list-style: none;
}
body{
    overflow: auto;
    background-color: rgb(21, 40, 56);
    color: white;
    display: flex;
}
.menu_horizontal::-webkit-scrollbar{
    height: 0px;
}


.naoselecionavel{
    -webkit-touch-callout: none;  
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none;  
}

.menu_horizontal{
    overflow-y: visible;
    overflow-x: scroll;
    z-index: 2;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: var(--menu-horizontal-height);
    background-color: var(--menu-horizontal-color);
}
.menu_horizontal ul{
    
    
    text-wrap: nowrap;
}
.menu_horizontal li{
    display: inline-block;
    transition: all 500ms;
    margin: 0 -2px;
}
.menu_horizontal li:hover{
    background-color: rgba(0, 0, 0, 0.295);
}

.menu_horizontal li a{
    transition: all 500ms;
    line-height: var(--menu-horizontal-height);
    padding: 5px 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.menu_horizontal p{
    transition: all 500ms;
    line-height: var(--menu-horizontal-height);
    padding: 0px 50px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.menu_horizontal a:hover{
    font-size: 2rem;
}
.menu_horizontal img{
    --img-height: calc(var(--menu-horizontal-height)/5*3);
    --img-padding: calc(var(--menu-horizontal-height)/5);
    height: var(--img-height);
    border-radius: 50%;
    padding: var(--img-padding);
    transition: all 500ms;
}
.menu_horizontal img:hover{
    --img-height: calc(var(--menu-horizontal-height)/5*4);
    --img-padding: calc(var(--menu-horizontal-height)/5/2);
}
.menu_horizontal div{
    --seta-size:1.5rem;
    overflow: hidden;
    position: fixed;
    width: var(--menu-horizontal-height);
    height: var(--menu-horizontal-height);
    top: 0px;
    background-color: var(--menu-horizontal-color);
    transition: all 500ms;
    cursor: pointer;
}
.menu_horizontal div:hover{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.menu_horizontal span{
    font-size: var(--seta-size);
    line-height: var(--menu-horizontal-height);
    transition: all 500ms;
}
.menu_horizontal span:hover{
    --seta-size: 2rem;
}
.invisivel{
    display: none;
}
#painel{
    margin-top: var(--menu-horizontal-height);
    text-align: center;
    padding: 25px;
    width: calc(100vw - var(--menu-vertical-width));
}
.menu_vertical{
    overflow: scroll;
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(0, 0, 0) 10%);
    z-index: 2;
    margin-top: var(--menu-horizontal-height);
    width: var(--menu-vertical-width);
    height: calc(100vh - var(--menu-horizontal-height));
    padding: 10px;
}
.menu_vertical input[type='text']{
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(58, 133, 146) 20%);
    width: calc(var(--menu-vertical-width) - 10px);
    border-radius: 5px;
    padding: 3px 5px;
    border: none;
    color: white;
}
.menu_vertical input[type='text']::placeholder{
    color: white;
}
.menu_vertical input[type='text']:focus{
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(58, 133, 146) 10%);
    outline: none;
}
.menu_vertical input[type='text']:local-link{
    background-color: color-mix(in srgb, var(--menu-horizontal-color) 100%, rgb(58, 133, 146) 10%);
}
#painel label{
    
    transition: all 500ms;
    
    opacity: 0%;
}
#loggin:checked~label{
    
    opacity: 100%;
}
.separator{
    
    overflow: hidden;
}
.separator svg{
    height: 10px;
    
}
.menu_vertical header{
    background-color: rgb(32, 43, 61);
    padding: 3px 6px;
}
.caixa_filtros{
    border: 1px solid;
    border-top: 0px;
    border-color: rgb(32, 43, 61);
}
.checkbox{
    padding: 5px;
}
input[type="range"]{
    box-sizing: border-box;
    appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    
}

.range_preco{
    text-align: center;
    padding: 10px 10px 10px 10px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background-color: rgb(255, 255, 255);
    height: 3px;
    border-radius: 3px;
    
}
input[type="range"]::-webkit-slider-thumb{
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background: rgb(71, 71, 248);
    margin: -3px 0 0 0;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
